<header>
  <div class="container">
    <div class="row">
      <nav class="col-md-8 col-xs-10">
        <ul>
          <li><a href="{{ path('homepage') }}">Home</a></li>
          <li><a href="{{ path('blog') }}">Blog</a></li>
          <li><a href="{{ path('about') }}">About</a></li>
          <li><a href="{{ path('contact') }}">Contact</a></li>
        </ul>
      </nav>
      <div class="header-search col-md-4 col-xs-2">
        <img class="search-icon" src="{{ asset('img/search-icon.png') }}" alt="search-icon">
        <input type="text" name="search" value="" hidden>
      </div>
    </div>
  </div>
</header>
