<header>
  <div class="container">
    <div class="row">
      <nav class="col-md-8 col-xs-10">
        <ul>
          <a href="{{ path('homepage') }}"><li>Home</li></a>
          <a href="{{ path('blog') }}"><li>Blog</li></a>
          <a href="{{ path('about') }}"><li>About</li></a>
          <a href="{{ path('contact') }}"><li>Contact</li></a>
        </ul>
      </nav>
      <div class="header-search col-md-4 col-xs-2">
        <img class="search-icon" src="{{ asset('img/search-icon.png') }}" alt="search-icon">
        <input type="text" name="search" value="" hidden>
      </div>
    </div>
  </div>
</header>
