
{% extends 'base.html.twig' %}

{% block body %}
  <h1>Hello symfony</h1>
  {% for blog in blogs %}
    <a href="{{ path('article',{'id':blog.id}) }}" class="blog-item">
      <span class="id">
        {{blog.id}}
      </span>
      <span class="title">
        {{blog.title}}
      </span>
    </a>
  {% endfor %}
{% endblock %}

{% block stylesheets %}
  {{parent()}}
  <link rel="stylesheet" href="{{asset('css/homepage/main.css')}}">
{% endblock %}
{% block javascripts %}
  {{parent()}}
  <script type="text/javascript" src="{{asset('js/homepage/script.js')}}"></script>
{% endblock %}
